a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
big,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
ul,
var,
video {
	font: inherit;
	font-size: 100%;

	margin: 0;
	padding: 0;

	vertical-align: baseline;

	border: 0;;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: "";
	content: none;
}

img {
	max-width: 100%;
}

html {
	font-family: sans-serif;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;;
}

*,
:after,
:before {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

b,
strong {
	font-weight: 700;
}

dfn,
em,
i {
	font-style: italic;
}

h1 {
	font-size: 2em;

	margin: .67em 0;;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;

	position: relative;

	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

mark {
	background-color: #FDFFB6;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;

	margin: 0;

	color: inherit;;
}

button {
	overflow: visible;

	border: none;
}

button,
select {
	text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
	cursor: pointer;

	-webkit-appearance: button;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;

	border: 0;
}

input {
	line-height: normal;
}

input:focus {
	outline: none;
}

input[type=checkbox],
input[type=radio] {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	height: auto;
}

input[type=search] {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;

	-webkit-appearance: textfield;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}

legend {
	padding: 0;

	border: 0;
}

textarea {
	overflow: auto;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

td,
th {
	padding: 0;
}

html {
	font-size: 62.5%;

	overflow-y: scroll;

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
	overflow-x: hidden;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6em;

	letter-spacing: 0;

	color: #3C484E;
	background: #FFFFFF;

	-moz-font-feature-settings: "liga" on;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;;
}

::-moz-selection {
	background: #CBEAFB;
	text-shadow: none;;
}

::selection {
	background: #CBEAFB;
	text-shadow: none;;
}

hr {
	position: relative;

	display: block;

	width: 100%;
	height: 1px;
	margin: 2.5em 0 3.5em;
	padding: 0;

	border: 0;
	border-top: 1px solid #E3E9ED;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	margin: 0;
	padding: 0;

	border: 0;
}

textarea {
	resize: vertical;
}

blockquote,
dl,
ol,
p,
ul {
	margin: 0 0 1.5em;
}

ol,
ul {
	padding-right: 1.5em;
	padding-left: 1.3em;;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin: .5em 0 1em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ol,
ul {
	max-width: 100%;
}

li {
	line-height: 1.6em;

	margin: .5em 0;
	padding-left: .3em;;
}

dt {
	font-weight: 500;

	float: left;

	width: 120px;
	margin: 0 20px 0 0;

	text-align: right;

	color: #15171A;;
}

dd {
	margin: 0 0 5px;

	text-align: left;
}

blockquote {
	margin: 1.5em 0;
	padding: 0 1.6em;

	border-left: .5em solid #E5EFF5;
}

blockquote p {
	font-size: 1.2em;
	font-weight: 300;

	margin: .8em 0;;
}

blockquote small {
	font-size: .9em;

	display: inline-block;

	margin: .8em 0 .8em 1.5em;

	opacity: .8;
}

blockquote small:before {
	content: "\2014 \00A0";
}

blockquote cite {
	font-weight: 700;
}

blockquote cite a {
	font-weight: 400;
}

a {
	text-decoration: none;

	color: #26A8ED;;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.15;

	margin-top: 0;

	text-rendering: optimizeLegibility;
}

h1 {
	font-size: 5rem;
	font-weight: 700;

	margin: 0 0 .5em;;
}

@media (max-width:500px) {
	h1 {
		font-size: 2.2rem;
	}
}

h2 {
	font-size: 2rem;

	margin: 1.5em 0 .5em;;
}

@media (max-width:500px) {
	h2 {
		font-size: 1.8rem;
	}
}

h3 {
	font-size: 1.8rem;
	font-weight: 500;

	margin: 1.5em 0 .5em;;
}

@media (max-width:500px) {
	h3 {
		font-size: 1.7rem;
	}
}

h4 {
	font-size: 1.6rem;
	font-weight: 500;

	margin: 1.5em 0 .5em;;
}

h5,
h6 {
	font-size: 1.4rem;
	font-weight: 500;

	margin: 1.5em 0 .5em;;
}

body {
	background: #F4F8FB;
}

.img {
	display: block;

	width: 100%;
	height: 100%;

	border-radius: 100%;
	background-position: 50%;
	background-size: cover;;
}

.hidden {
	position: absolute;

	visibility: hidden;

	text-indent: -9999px;
}

.site-wrapper {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    flex-direction: column;

	min-height: 100vh;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;;
}

.site-main {
	z-index: 100;

	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;;
}

.outer {
	position: relative;

	padding: 0 4vw;
}

.inner {
	width: 100%;
	max-width: 1040px;
	margin: 0 auto;;
}

@media (min-width:900px) {
	.author-template .post-feed,
	.home-template .post-feed,
	.tag-template .post-feed {
		margin-top: -70px;
		padding-top: 0;
	}
	.home-template .site-nav {
		position: relative;
		top: -70px;
	}
}

.site-header {
	position: relative;

	padding-top: 12px;
	padding-bottom: 12px;

	color: #FFFFFF;
	background: #090A0B no-repeat 50%;
	background-size: cover;
}

.site-header:before {
	bottom: 0;

	background: rgba(0, 0, 0, .18);
}

.site-header:after,
.site-header:before {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;

	display: block;

	content: "";;
}

.site-header:after {
	bottom: auto;

	height: 80px;

	background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .1)), to(transparent));
	background: linear-gradient(rgba(0, 0, 0, .1), transparent);
}

.site-header.no-cover:after,
.site-header.no-cover:before {
	display: none;
}

.site-header-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    flex-direction: column;

	min-height: 200px;
	max-height: 450px;
	padding: 10vw 4vw;

	text-align: center;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;;
}

.site-title {
	font-size: 3.8rem;
	font-weight: 700;

	z-index: 10;

	margin: 0;
	padding: 0;;
}

.site-logo {
	max-height: 45px;
}

.site-description {
	font-size: 2.2rem;
	font-weight: 300;

	z-index: 10;

	margin: 0;
	padding: 5px 0;

	letter-spacing: .5px;

	opacity: .8;
}

@media (max-width:500px) {
	.site-title {
		font-size: 3rem;
	}
	.site-description {
		font-size: 1.8rem;
	}
}

.site-nav {
	font-size: 1.2rem;

	position: relative;
	z-index: 300;

	height: 40px;

	align-items: flex-start;
	-webkit-box-align: start;
	-webkit-box-pack: justify;
	-ms-flex-align: start;
	-ms-flex-pack: justify;
	justify-content: space-between;;
}

.site-nav,
.site-nav-left {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	overflow-y: hidden;
}

.site-nav-left {
	overflow-x: auto;

	margin-right: 10px;
	padding-bottom: 80px;

	white-space: nowrap;
	letter-spacing: .4px;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-overflow-scrolling: touch;
	    -ms-overflow-scrolling: touch;
}

.site-nav-logo {
	font-size: 1.7rem;
	font-weight: 700;
	line-height: 1em;

	display: block;

	margin-right: 24px;
	padding: 11px 0;

	letter-spacing: -.5px;

	color: #FFFFFF;

	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

.site-nav-logo:hover {
	text-decoration: none;
}

.site-nav-logo img {
	display: block;

	width: auto;
	height: 21px;
}

.nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	margin: 0 0 0 -12px;
	padding: 0;

	list-style: none;
}

.nav li {
	padding: 0;

	text-transform: uppercase;
}

.nav li,
.nav li a {
	display: block;

	margin: 0;
}

.nav li a {
	padding: 10px 12px;

	opacity: .8;
	color: #FFFFFF;;
}

.nav li a:hover {
	text-decoration: none;

	opacity: 1;
}

.site-nav-right {
	height: 40px;
}

.site-nav-right,
.social-links {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

.social-links a:last-of-type {
	padding-right: 20px;
}

.social-link {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	margin: 0;
	padding: 10px;

	opacity: .8;
	color: #FFFFFF;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.social-link:hover {
	opacity: 1;
}

.social-link svg {
	height: 1.8rem;

	fill: #FFFFFF;
}

.social-link-fb svg {
	height: 1.5rem;
}

.social-link-wb svg {
	height: 1.6rem;
}

.social-link-wb svg path {
	stroke: #FFFFFF;
}

.social-link-rss svg {
	height: 1.9rem;
}

.subscribe-button {
	font-size: 1.2rem;
	line-height: 1em;

	display: block;

	padding: 4px 10px;

	opacity: .8;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius: 10px;;
}

.subscribe-button:hover {
	text-decoration: none;

	opacity: 1;
}

.rss-button {
	opacity: .8;
}

.rss-button:hover {
	opacity: 1;
}

.rss-button svg {
	height: 2.1rem;
	margin-bottom: 1px;

	fill: #FFFFFF;
}

@media (max-width:700px) {
	.site-header {
		padding-right: 0;
		padding-left: 0;
	}
	.site-nav-left {
		margin-right: 0;
		padding-left: 4vw;
	}
	.site-nav-right {
		display: none;
	}
}

.post-feed {
	position: relative;

	margin: 0 -20px;
	padding: 40px 0 0;

	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;;
}

.post-card,
.post-feed {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.post-card {
	overflow: hidden;
	    flex-direction: column;

	min-height: 300px;
	margin: 0 20px 40px;

	-webkit-transition: all .5s ease;
	        transition: all .5s ease;

	border-radius: 5px;
	background: #FFFFFF 50%;
	background-size: cover;
	-webkit-box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
	        box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);

	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-ms-flex: 1 1 300px;
	    flex: 1 1 300px;
	-ms-flex-direction: column;;
}

.post-card:hover {
	-webkit-transition: all .4s ease;
	        transition: all .4s ease;
	-webkit-transform: translate3D(0, -1px, 0) scale(1.02);
	        transform: translate3D(0, -1px, 0) scale(1.02);

	-webkit-box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);
	        box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 6px 12px rgba(39, 44, 49, .04);;
}

.post-card-image-link {
	position: relative;

	display: block;
	overflow: hidden;

	border-radius: 5px 5px 0 0;
}

.post-card-image {
	width: auto;
	height: 200px;

	background: #C5D2D9 no-repeat 50%;
	background-size: cover;
}

.post-card-content-link {
	position: relative;

	display: block;

	padding: 25px 25px 0;

	color: #15171A;

	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;;
}

.post-card-content-link:hover {
	text-decoration: none;
}

.post-card-tags {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.15em;

	display: block;

	margin-bottom: 4px;

	letter-spacing: .5px;
	text-transform: uppercase;

	color: #738A94;;
}

.post-card-title {
	margin-top: 0;
}

.post-card-content {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    flex-direction: column;

	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-webkit-box-pack: justify;
	-ms-flex-direction: column;
	flex-grow: 1;
	-ms-flex-pack: justify;
	-ms-flex-positive: 1;
	justify-content: space-between;
}

.post-card-excerpt {
	font-family: Georgia, serif;
}

.post-card-meta {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	padding: 0 25px 25px;

	align-items: flex-end;
	-webkit-box-align: end;
	-webkit-box-pack: justify;
	-ms-flex-align: end;
	-ms-flex-pack: justify;
	justify-content: space-between;;
}

.author-profile-image {
	display: block;

	border-radius: 100%;
	background: #E3E9ED;

	-o-object-fit: cover;
	   object-fit: cover;
}

.post-card-meta .avatar-wrapper,
.post-card-meta .profile-image-wrapper {
	position: relative;
}

.author-list {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	margin: 0;
	padding: 0;

	list-style: none;

	-ms-flex-wrap: wrap-reverse;
	    flex-wrap: wrap-reverse;;
}

.author-list-item {
	position: relative;

	margin: 0;
	padding: 0;

	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

.author-list-item:first-child {
	z-index: 10;
}

.author-list-item:nth-child(2) {
	z-index: 9;
}

.author-list-item:nth-child(3) {
	z-index: 8;
}

.author-list-item:nth-child(4) {
	z-index: 7;
}

.author-list-item:nth-child(5) {
	z-index: 6;
}

.author-list-item:nth-child(6) {
	z-index: 5;
}

.author-list-item:nth-child(7) {
	z-index: 4;
}

.author-list-item:nth-child(8) {
	z-index: 3;
}

.author-list-item:nth-child(9) {
	z-index: 2;
}

.author-list-item:nth-child(10) {
	z-index: 1;
}

.static-avatar {
	width: 34px;
	height: 34px;
	margin: 0 -5px;
}

.moving-avatar,
.static-avatar {
	display: block;
	overflow: hidden;

	border: 2px solid #FFFFFF;
	border-radius: 100%;;
}

.moving-avatar {
	width: 56px;
	height: 56px;
	margin: 0 -6px;

	-webkit-transition: all .5s cubic-bezier(.4, .01, .165, .99) .7s;
	        transition: all .5s cubic-bezier(.4, .01, .165, .99) .7s;
}

@media (min-width:800px) {
	.author-list:hover .moving-avatar {
		margin: 0;

		-webkit-transition: all .3s cubic-bezier(.4, .01, .165, .99);
		        transition: all .3s cubic-bezier(.4, .01, .165, .99);
	}
}

.author-name-tooltip {
	font-size: 1.2rem;

	position: absolute;
	z-index: 999;
	bottom: 105%;

	display: block;

	padding: 2px 8px;

	-webkit-transition: all .3s cubic-bezier(.4, .01, .165, .99);
	        transition: all .3s cubic-bezier(.4, .01, .165, .99);
	-webkit-transform: translateY(6px);
	        transform: translateY(6px);
	white-space: nowrap;
	letter-spacing: .2px;
	pointer-events: none;

	opacity: 0;
	color: #FFFFFF;
	border-radius: 3px;
	background: #15171A;
	-webkit-box-shadow: 0 12px 26px rgba(39, 44, 49, .08), 1px 3px 8px rgba(39, 44, 49, .03);
	        box-shadow: 0 12px 26px rgba(39, 44, 49, .08), 1px 3px 8px rgba(39, 44, 49, .03);;
}

.author-list-item:hover .author-name-tooltip {
	-webkit-transform: translateY(0);
	        transform: translateY(0);

	opacity: 1;;
}

@media (max-width:650px) {
	.author-name-tooltip {
		display: none;
	}
}

.reading-time {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 33px;

	margin-left: 20px;

	letter-spacing: .5px;
	text-transform: uppercase;

	color: #738A94;

	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

@media (min-width:795px) {
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) {
		    flex-direction: row;

		-webkit-box-direction: normal;
		-webkit-box-flex: 1;
		-webkit-box-orient: horizontal;
		-ms-flex: 1 1 100%;
		    flex: 1 1 100%;
		-ms-flex-direction: row;;
	}
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image-link {
		position: relative;

		border-radius: 5px 0 0 5px;

		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		    flex: 1 1 auto;;
	}
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-image {
		position: absolute;

		width: 100%;
		height: 100%;
	}
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 357px;
		    flex: 0 1 357px;
	}
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) h2 {
		font-size: 2.6rem;
	}
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) p {
		font-size: 1.8rem;
		line-height: 1.55em;
	}
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-content-link {
		padding: 30px 40px 0;
	}
	.home-template .post-feed .post-card:nth-child(6n+1):not(.no-image) .post-card-meta {
		padding: 0 40px 30px;
	}
}

.home-template .site-header:after {
	display: none;
}

@media (max-width:650px) {
	.post-feed {
		padding-top: 5vw;
	}
	.post-card {
		margin: 0 20px 5vw;
	}
}

.page-template .site-main,
.post-template .site-main {
	padding-bottom: 4vw;

	background: #FFFFFF;
}

.post-full {
	position: relative;
	z-index: 50;
}

.post-full-header {
	max-width: 1040px;
	margin: 0 auto;
	padding: 6vw 3vw 3vw;

	text-align: center;
}

@media (max-width:500px) {
	.post-full-header {
		padding: 14vw 3vw 10vw;
	}
}

.post-full-meta {
	font-size: 1.4rem;
	font-weight: 600;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	text-transform: uppercase;

	color: #738A94;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.post-full-meta-date {
	color: #3EB0EF;
}

.post-full-title {
	margin: 0;

	color: #090A0B;
}

.date-divider {
	display: inline-block;

	margin: 0 6px 1px;
}

.post-full-image {
	height: 800px;
	margin: 0 -10vw -165px;

	border-radius: 5px;
	background: #C5D2D9 50%;
	background-size: cover;;
}

@media (max-width:1170px) {
	.post-full-image {
		height: 600px;
		margin: 0 -4vw -100px;

		border-radius: 0;
	}
}

@media (max-width:800px) {
	.post-full-image {
		height: 400px;
	}
}

.post-full-content {
	font-family: Georgia, serif;
	font-size: 2.2rem;
	line-height: 1.6em;

	position: relative;

	min-height: 230px;
	margin: 0 auto;
	padding: 70px 100px 0;

	background: #FFFFFF;
}

@media (max-width:1170px) {
	.post-full-content {
		padding: 5vw 7vw 0;
	}
}

@media (max-width:800px) {
	.post-full-content {
		font-size: 1.9rem;
	}
}

.post-full-content:before {
	left: -5px;

	-webkit-transform: rotate(-5deg);
	        transform: rotate(-5deg);
}

.post-full-content:after,
.post-full-content:before {
	position: absolute;
	z-index: -1;
	top: 15px;

	display: block;

	width: 20px;
	height: 200px;

	content: "";

	background: rgba(39, 44, 49, .15);

	-webkit-filter: blur(5px);
	        filter: blur(5px);
}

.post-full-content:after {
	right: -5px;

	-webkit-transform: rotate(5deg);
	        transform: rotate(5deg);
}

.no-image .post-full-content {
	padding-top: 0;
}

.no-image .post-full-content:after,
.no-image .post-full-content:before {
	display: none;
}

.kg-card-markdown {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    flex-direction: column;

	max-width: 920px;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-align: center;
	-ms-flex-direction: column;;
}

.footnotes,
.post-full-comments,
.post-full-content blockquote,
.post-full-content dl,
.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6,
.post-full-content ol,
.post-full-content p,
.post-full-content pre,
.post-full-content ul {
	min-width: 100%;
}

.post-full-content li {
	word-break: break-word;
}

.post-full-content li p {
	margin: 0;
}

.post-template .kg-card-markdown> p:first-child {
	font-size: 1.25em;
	line-height: 1.5em;
}

.post-full-content a {
	color: #000000;
	-webkit-box-shadow: inset 0 -1px 0 #3EB0EF;
	        box-shadow: inset 0 -1px 0 #3EB0EF;
}

.post-full-content a:hover {
	text-decoration: none;

	color: #3EB0EF;;
}

.post-full-content em,
.post-full-content strong {
	color: #090A0B;
}

.post-full-content small {
	line-height: 1.6em;

	display: inline-block;;
}

.post-full-content li:first-child {
	margin-top: 0;
}

.post-full-content img,
.post-full-content video {
	display: block;

	max-width: 1040px;
	margin: 1.5em auto;;
}

@media (max-width:1040px) {
	.post-full-content img,
	.post-full-content video {
		width: 100%;
	}
}

.post-full-content img[src$="#full"] {
	width: 100vw;
	max-width: none;;
}

.post-full-content img+ br+ small {
	display: block;

	margin-top: -3em;
	margin-bottom: 1.5em;
}

.post-full-content iframe {
	margin: 0 auto;
}

.post-full-content blockquote {
	margin: 0 0 1.5em;
	padding: 0 1.5em;

	border-left: 3px solid #3EB0EF;
}

.post-full-content blockquote p {
	font-size: inherit;
	font-style: italic;
	line-height: inherit;

	margin: 0 0 1em;

	color: inherit;;
}

.post-full-content blockquote p:last-child {
	margin-bottom: 0;
}

.post-full-content code {
	font-size: .8em;
	font-weight: 400!important;
	line-height: 1em;

	padding: 0 5px 2px;

	border-radius: 3px;
	background: #E5EFF5;;
}

.post-full-content pre {
	font-size: 1.4rem;
	line-height: 1.5em;

	overflow-x: auto;

	max-width: 100%;
	margin: 1.5em 0 3em;
	padding: 20px;

	color: #E5EFF5;
	border: 1px solid #000000;
	border-radius: 5px;
	background: #0E0F11;;
}

.post-full-content pre code {
	font-size: inherit;
	line-height: inherit;

	padding: 0;

	background: transparent;
}

.post-full-content .fluid-width-video-wrapper {
	margin: 1.5em 0 3em;
}

.post-full-content hr {
	margin: 4vw 0;
}

.post-full-content hr:after {
	position: absolute;
	top: -15px;
	left: 50%;

	display: block;

	width: 1px;
	height: 30px;
	margin-left: -10px;

	content: "";
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);

	background: #E3E9ED;
	-webkit-box-shadow: 0 0 0 5px #FFFFFF;
	        box-shadow: 0 0 0 5px #FFFFFF;;
}

.post-full-content h1,
.post-full-content h2,
.post-full-content h3,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;

	color: #090A0B;;
}

.post-full-content h1 {
	font-size: 4.6rem;
	font-weight: 700;

	margin: .5em 0 .2em;;
}

@media (max-width:500px) {
	.post-full-content h1 {
		font-size: 2.8rem;
	}
}

.post-full-content h2 {
	font-size: 3.6rem;
	font-weight: 700;

	margin: .5em 0 .2em;;
}

@media (max-width:500px) {
	.post-full-content h2 {
		font-size: 2.6rem;
	}
}

.post-full-content h3 {
	font-size: 2.8rem;
	font-weight: 700;

	margin: .5em 0 .2em;;
}

@media (max-width:500px) {
	.post-full-content h3 {
		font-size: 2.2rem;
	}
}

.post-full-content h4 {
	font-size: 2.8rem;
	font-weight: 700;

	margin: .5em 0 .2em;;
}

@media (max-width:500px) {
	.post-full-content h4 {
		font-size: 2.2rem;
	}
}

.post-full-content h5 {
	font-family: Georgia, serif;
	font-size: 3.2rem;
	line-height: 1.35em;

	display: block;

	margin: .5em 0;
	padding: 1em 0 1.5em;

	text-align: center;

	color: #3EB0EF;
	border: 0;;
}

@media (min-width:1180px) {
	.post-full-content h5 {
		width: 100vw;
		max-width: 1060px;;
	}
}

@media (max-width:500px) {
	.post-full-content h5 {
		font-size: 2.2rem;

		padding: 0 0 .5em;;
	}
}

.post-full-content h6 {
	font-size: 2.3rem;
	font-weight: 700;

	margin: .5em 0 .2em;;
}

@media (max-width:500px) {
	.post-full-content h6 {
		font-size: 2rem;
	}
}

.footnotes-sep {
	margin-bottom: 30px;
}

.footnotes {
	font-size: 1.5rem;
}

.footnotes p {
	margin: 0;
}

.footnote-backref {
	font-size: 1.2rem;
	font-weight: 700;

	text-decoration: none!important;

	color: #3EB0EF!important;
	-webkit-box-shadow: none!important;
	        box-shadow: none!important;
}

@media (max-width:500px) {
	.post-full-meta {
		font-size: 1.2rem;
		line-height: 1.3em;
	}
	.post-full-title {
		font-size: 2.9rem;
	}
	.post-full-image {
		height: 350px;
		margin-bottom: 4vw;;
	}
	.post-full-content {
		padding: 0;
	}
	.post-full-content:after,
	.post-full-content:before {
		display: none;
	}
}

.post-full-content table {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	font-size: 1.6rem;

	display: inline-block;
	overflow-x: auto;

	width: auto;
	max-width: 100%;
	margin: .5em 0 2.5em;

	border-spacing: 0;
	border-collapse: collapse;

	vertical-align: top;
	white-space: nowrap;

	background: radial-gradient(ellipse at left, rgba(0, 0, 0, .2) 0, transparent 75%) 0, radial-gradient(ellipse at right, rgba(0, 0, 0, .2) 0, transparent 75%) 100%;
	background-repeat: no-repeat;
	background-attachment: scroll, scroll;
	background-size: 10px 100%, 10px 100%;

	-webkit-overflow-scrolling: touch;;
}

.post-full-content table td:first-child {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #FFFFFF), to(hsla(0, 0%, 100%, 0)));
	background-image: linear-gradient(90deg, #FFFFFF 50%, hsla(0, 0%, 100%, 0));
	background-repeat: no-repeat;
	background-size: 20px 100%;;
}

.post-full-content table td:last-child {
	background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #FFFFFF), to(hsla(0, 0%, 100%, 0)));
	background-image: linear-gradient(270deg, #FFFFFF 50%, hsla(0, 0%, 100%, 0));
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-size: 20px 100%;;
}

.post-full-content table th {
	font-size: 1.2rem;
	font-weight: 700;

	text-align: left;
	letter-spacing: .2px;
	text-transform: uppercase;

	color: #15171A;
	background-color: #F4F8FB;
}

.post-full-content table td,
.post-full-content table th {
	padding: 6px 12px;

	border: 1px solid #E3ECF3;
}

.subscribe-form {
	margin: 1.5em 0;
	padding: 6.5vw 7vw 7vw;

	text-align: center;

	border: 1px solid #EDF4F8;
	border-radius: 7px;
	background: #F4F8FB;;
}

.subscribe-form-title {
	font-size: 3.5rem;
	font-weight: 700;
	line-height: 1;

	margin: 0 0 3px;
	padding: 0;

	color: #15171A;;
}

.subscribe-form p {
	font-size: 2.2rem;
	line-height: 1.55em;

	margin-bottom: 1em;

	letter-spacing: .2px;

	color: #738A94;;
}

.subscribe-form form {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	max-width: 420px;
	margin: 0 auto;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.subscribe-form .form-group {
	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;;
}

.subscribe-email {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1em;

	display: block;

	width: 100%;
	padding: 10px;

	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
	-webkit-transition: border-color .15s linear;
	        transition: border-color .15s linear;

	color: #738A94;
	border: 1px solid #DAE2E7;
	border-radius: 5px;

	-webkit-appearance: none;
}

.subscribe-form button {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 37px;

	display: inline-block;

	height: 41px;
	margin: 0 0 0 10px;
	padding: 0 20px;

	text-align: center;

	color: #FFFFFF;
	border-radius: 5px;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#4FB7F0), color-stop(60%, #29A0E0), color-stop(90%, #29A0E0), to(#36A6E2));
	background: linear-gradient(#4FB7F0, #29A0E0 60%, #29A0E0 90%, #36A6E2);
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .14);
	        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .14);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);

	-webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-form button:active,
.subscribe-form button:focus {
	background: #209CDF;
}

@media (max-width:650px) {
	.subscribe-form-title {
		font-size: 2.4rem;
	}
	.subscribe-form p {
		font-size: 1.6rem;
	}
}

@media (max-width:500px) {
	.subscribe-form form {
		    flex-direction: column;

		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;;
	}
	.subscribe-form .form-group {
		width: 100%;
	}
	.subscribe-form button {
		width: 100%;
		margin: 10px 0 0;;
	}
}

.post-full-footer {
	max-width: 840px;
	margin: 0 auto;
	padding: 3vw 0 6vw;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	justify-content: space-between;;
}

.author-card,
.post-full-footer {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.author-card .author-profile-image {
	width: 60px;
	height: 60px;
	margin-right: 15px;;
}

.author-card-name {
	font-size: 2rem;

	margin: 8px 0 2px;
	padding: 0;;
}

.author-card-name a {
	font-weight: 700;

	color: #15171A;;
}

.author-card-name a:hover {
	text-decoration: none;
}

.author-card-content p {
	line-height: 1.3em;

	margin: 0;

	color: #738A94;;
}

.post-full-footer-right {
	margin-left: 20px;

	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

.author-card-button {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1;

	display: block;

	padding: 9px 16px;

	-webkit-transition: all .2s ease;
	        transition: all .2s ease;

	color: #738A94;
	border: 1px solid #AEBBC1;
	border-radius: 20px;;
}

.author-card-button:hover {
	text-decoration: none;

	color: #3EB0EF;
	border-color: #3EB0EF;;
}

.post-full-authors {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    flex-direction: column;

	margin-top: 20px;
	padding-top: 40px;

	border-top: 1px solid #E3E9ED;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-ms-flex-align: center;
	-ms-flex-direction: column;
	flex-grow: 1;
	-ms-flex-positive: 1;;
}

.post-full-authors-content {
	margin-bottom: 20px;
}

.post-full-authors-content p {
	font-size: 1.4rem;

	margin-bottom: 0;

	text-align: center;
	letter-spacing: .2px;
	text-transform: uppercase;

	color: #738A94;;
}

.post-full-authors-content a {
	font-size: 1.4rem;
	font-weight: 600;

	display: inline-block;

	text-transform: uppercase;

	color: #424852;;
}

.post-full-footer .author-list {
	padding: 10px 20px;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.author-card .author-profile-image,
.author-card .avatar-wrapper {
	position: relative;

	margin-right: 15px;;
}

.author-list-item .author-card {
	font-size: 1.4rem;

	position: absolute;
	z-index: 300;
	bottom: 130%;
	left: 50%;

	display: block;

	width: 320px;
	margin-left: -160px;

	-webkit-transition: all .3s cubic-bezier(.4, .01, .165, .99);
	        transition: all .3s cubic-bezier(.4, .01, .165, .99);
	-webkit-transform: scale(.98) translateY(15px);
	        transform: scale(.98) translateY(15px);
	letter-spacing: .2px;
	pointer-events: none;

	opacity: 0;
	border-radius: 6px;
	background: #FFFFFF;
	-webkit-box-shadow: 0 12px 26px rgba(39, 44, 49, .08), 1px 3px 8px rgba(39, 44, 49, .03);
	        box-shadow: 0 12px 26px rgba(39, 44, 49, .08), 1px 3px 8px rgba(39, 44, 49, .03);;
}

.author-list-item .author-card:before {
	position: absolute;
	top: 100%;
	left: 50%;

	display: block;

	width: 0;
	height: 0;
	margin-left: -12px;

	content: "";

	border-top: 12px solid #FFFFFF;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
}

.author-list-item .author-card.hovered {
	-webkit-transform: scale(1) translateY(0);
	        transform: scale(1) translateY(0);
	pointer-events: auto;

	opacity: 1;;
}

.author-card .basic-info {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    flex-direction: column;

	padding: 30px 20px 20px;

	color: #FFFFFF;
	border-radius: 6px 6px 0 0;
	background: #15171A;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-align: center;
	-ms-flex-direction: column;;
}

.author-card .basic-info h2 {
	margin: 1em 0 .5em;
}

.author-card .bio {
	padding: 20px 20px 0;
}

@media (max-width:650px) {
	.author-list-item .author-card {
		display: none;
	}
}

.basic-info .author-profile-image,
.basic-info .avatar-wrapper {
	width: 88px;
	height: 88px;
	margin: 0;

	border: none;
}

.basic-info .avatar-wrapper {
	position: relative;

	background: rgba(229, 239, 245, .1);
}

.basic-info .avatar-wrapper svg {
	width: 88px;
	height: 88px;
	margin: 0;

	opacity: .15;
}

.post-full-comments {
	max-width: 840px;
	margin: 0 auto;;
}

.read-next-feed {
	margin: 0 -20px;
	padding: 40px 0 0;

	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;;
}

.read-next-card,
.read-next-feed {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.read-next-card {
	position: relative;

	overflow: hidden;
	    flex-direction: column;

	margin: 0 20px 40px;
	padding: 25px;

	color: #FFFFFF;
	border-radius: 5px;
	background: #15171A 50%;
	background-size: cover;
	-webkit-box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);
	        box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);

	-webkit-box-direction: normal;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	-ms-flex: 1 1 300px;
	    flex: 1 1 300px;
	-ms-flex-direction: column;;
}

.read-next-card:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: block;

	content: "";

	border-radius: 5px;
	background: linear-gradient(135deg, rgba(0, 40, 60, .8), rgba(0, 20, 40, .7));

	-webkit-backdrop-filter: blur(2px);
	        backdrop-filter: blur(2px);
}

.read-next-card-header {
	position: relative;
	z-index: 50;

	padding-top: 20px;

	text-align: center;
}

.read-next-card-header-sitetitle {
	font-size: 1.3rem;
	line-height: 1.3em;

	display: block;

	opacity: .8;
}

.read-next-card-header-title {
	font-size: 3rem;
	line-height: 1.2em;

	margin: 0;
	padding: 0 20px;

	letter-spacing: 1px;

	color: #FFFFFF;;
}

.read-next-card-header-title a {
	font-weight: 300;

	text-decoration: none;

	color: #FFFFFF;;
}

.read-next-card-header-title a:hover {
	text-decoration: none;
}

.read-next-divider {
	position: relative;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	height: 80px;

	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.read-next-divider svg {
	width: 40px;

	fill: transparent;
	stroke: #FFFFFF;
	stroke-opacity: .65;
	stroke-width: .5px;;
}

.read-next-card-content {
	font-size: 1.7rem;

	position: relative;
	z-index: 50;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;;
}

.read-next-card-content ul {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	    flex-direction: column;

	margin: 0 auto;
	padding: 0;

	list-style: none;

	text-align: center;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;;
}

.read-next-card-content li {
	font-size: 1.6rem;
	font-weight: 200;
	line-height: 1.25em;

	margin: 0;
	padding: 0;

	letter-spacing: -.5px;
}

.read-next-card-content li a {
	font-weight: 500;

	display: block;

	padding: 20px 0;

	-webkit-transition: opacity .3s ease;
	        transition: opacity .3s ease;
	vertical-align: top;

	color: #FFFFFF;
	border-bottom: 1px solid hsla(0, 0%, 100%, .3);;
}

.read-next-card-content li:first-of-type a {
	padding-top: 10px;
}

.read-next-card-content li a:hover {
	opacity: 1;
}

.read-next-card-footer {
	position: relative;

	margin: 15px 0 3px;

	text-align: center;
}

.read-next-card-footer a {
	color: #FFFFFF;
}

.floating-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	visibility: hidden;

	height: 60px;

	-webkit-transition: all .5s cubic-bezier(.19, 1, .22, 1);
	        transition: all .5s cubic-bezier(.19, 1, .22, 1);
	-webkit-transform: translate3d(0, -120%, 0);
	        transform: translate3d(0, -120%, 0);

	border-bottom: 1px solid rgba(0, 0, 0, .06);
	background: hsla(0, 0%, 100%, .95);

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;;
}

.floating-active {
	visibility: visible;

	-webkit-transition: all .5s cubic-bezier(.22, 1, .27, 1);
	        transition: all .5s cubic-bezier(.22, 1, .27, 1);
	-webkit-transform: translateZ(0);
	        transform: translateZ(0);
}

.floating-header-logo {
	font-size: 1.6rem;
	line-height: 1em;

	overflow: hidden;

	margin: 0 0 0 20px;

	white-space: nowrap;
	letter-spacing: -1px;
	text-overflow: ellipsis;;
}

.floating-header-logo a {
	font-weight: 700;
	line-height: 1.1em;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	color: #15171A;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;;
}

.floating-header-logo a:hover {
	text-decoration: none;
}

.floating-header-logo img {
	max-height: 20px;
	margin: 0 10px 0 0;;
}

.floating-header-divider {
	line-height: 1em;

	margin: 0 5px;;
}

.floating-header-title {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.3em;

	overflow: hidden;

	margin: 0;

	white-space: nowrap;
	text-overflow: ellipsis;

	color: #2E2E2E;

	-webkit-box-flex: 1;
	-ms-flex: 1;
	    flex: 1;;
}

.floating-header-share {
	font-size: 1.3rem;
	line-height: 1;

	padding-left: 2%;

	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;;
}

.floating-header-share,
.floating-header-share a {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;;
}

.floating-header-share a {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.floating-header-share svg {
	width: auto;
	height: 16px;

	fill: #FFFFFF;
}

.floating-header-share-label {
	font-weight: 500;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	margin-right: 10px;

	color: rgba(0, 0, 0, .7);

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

.floating-header-share-label svg {
	width: 18px;
	height: 18px;
	margin: 0 5px 0 10px;

	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);

	stroke: rgba(0, 0, 0, .7);;
}

.floating-header-share-fb,
.floating-header-share-tw {
	line-height: 48px;

	display: block;

	width: 60px;
	height: 60px;

	-webkit-transition: all .5s cubic-bezier(.19, 1, .22, 1);
	        transition: all .5s cubic-bezier(.19, 1, .22, 1);
	text-align: center;

	color: #FFFFFF;

	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;;
}

.floating-header-share-tw {
	background: #33B1FF;
}

.floating-header-share-fb {
	background: #005E99;
}

.progress {
	position: absolute;
	right: 0;
	bottom: -1px;
	left: 0;

	width: 100%;
	height: 2px;

	color: #3EB0EF;
	border: none;
	background: transparent;

	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
}

.progress::-webkit-progress-bar {
	background-color: transparent;
}

.progress::-webkit-progress-value {
	background-color: #3EB0EF;
}

.progress::-moz-progress-bar {
	background-color: #3EB0EF;
}

.progress-container {
	position: absolute;
	top: 0;
	left: 0;

	display: block;

	width: 100%;
	height: 2px;

	background-color: transparent;
}

.progress-bar {
	display: block;

	width: 50%;
	height: inherit;

	background-color: #3EB0EF;
}

@media (max-width:900px) {
	.floating-header {
		height: 40px;
	}
	.floating-header-logo,
	.floating-header-title {
		font-size: 1.5rem;
	}
	.floating-header-share-fb,
	.floating-header-share-tw {
		line-height: 38px;

		width: 40px;
		height: 40px;;
	}
}

@media (max-width:800px) {
	.floating-header-logo {
		margin-left: 10px;
	}
	.floating-header-logo a {
		color: #2E2E2E;
	}
	.floating-header-divider,
	.floating-header-title {
		visibility: hidden;
	}
}

@media (max-width:450px) {
	.floating-header-share-label {
		display: none;
	}
}

.site-header-content .author-profile-image {
	z-index: 10;

	width: 100px;
	height: 100px;
	margin: 0 0 20px;

	-webkit-box-shadow: 0 0 0 6px hsla(0, 0%, 100%, .1);
	        box-shadow: 0 0 0 6px hsla(0, 0%, 100%, .1);

	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

.site-header-content .author-bio {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.3em;

	z-index: 10;

	max-width: 600px;
	margin: 5px 0 10px;

	letter-spacing: .5px;

	opacity: .8;

	-ms-flex-negative: 0;
	flex-shrink: 0;;
}

.site-header-content .author-meta {
	font-family: Georgia, serif;
	font-style: italic;

	z-index: 10;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	margin: 0 0 10px;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-negative: 0;
	-ms-flex-pack: center;
	flex-shrink: 0;
	justify-content: center;;
}

.site-header-content .author-location svg {
	height: 1.9rem;

	stroke: #FFFFFF;
}

.site-header-content .bull {
	display: inline-block;

	margin: 0 12px;

	opacity: .5;
}

.site-header-content .social-link:first-of-type {
	padding-left: 4px;
}

@media (max-width:500px) {
	.site-header-content .author-bio {
		font-size: 1.8rem;
		line-height: 1.15em;

		letter-spacing: 0;
	}
	.author-location,
	.author-stats {
		display: none;
	}
}

.error-template .site-main {
	padding: 7vw 4vw;
}

.site-nav-center {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	text-align: center;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.site-nav-center .site-nav-logo {
	margin-right: 0;
}

.error-message {
	text-align: center;
}

.error-code {
	font-size: 12vw;
	line-height: 1em;

	margin: 0;

	letter-spacing: -5px;

	opacity: .3;
}

.error-description {
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.3em;

	margin: 0;

	color: #738A94;;
}

@media (max-width:800px) {
	.error-description {
		font-size: 1.8rem;

		margin: 5px 0 0;;
	}
}

.error-link {
	display: inline-block;

	margin-top: 5px;
}

.error-template .post-feed {
	padding-top: 0;
}

.subscribe-overlay {
	position: fixed;
	z-index: 9000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-transition: opacity .2s ease-in;
	        transition: opacity .2s ease-in;
	pointer-events: none;

	opacity: 0;
	background: rgba(0, 25, 40, .97);

	align-items: center;
	-webkit-backdrop-filter: blur(3px);
	        backdrop-filter: blur(3px);
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.subscribe-overlay:target {
	pointer-events: auto;

	opacity: 1;;
}

.subscribe-overlay-content {
	position: relative;
	z-index: 9999;

	margin: 0 0 5vw;
	padding: 4vw;

	text-align: center;

	color: #FFFFFF;;
}

.subscribe-overlay-logo {
	position: fixed;
	top: 23px;
	left: 30px;

	height: 30px;
}

.subscribe-overlay-title {
	font-size: 6rem;
	line-height: 1.15em;

	display: inline-block;

	margin: 0 0 10px;;
}

.subscribe-overlay-description {
	font-family: Georgia, serif;
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.3em;

	max-width: 650px;
	margin: 0 auto 50px;

	opacity: .8;
}

.subscribe-overlay form {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	max-width: 500px;
	margin: 0 auto;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-ms-flex-align: center;
	-ms-flex-pack: center;
	justify-content: center;;
}

.subscribe-overlay .form-group {
	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;;
}

.subscribe-overlay .subscribe-email {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1em;

	display: block;

	width: 100%;
	padding: 14px 20px;

	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
	-webkit-transition: border-color .15s linear;
	        transition: border-color .15s linear;
	letter-spacing: .5px;

	color: #738A94;
	border: none;
	border-radius: 8px;

	-webkit-appearance: none;
}

.subscribe-email:focus {
	border-color: #BECDD5;
	outline: 0;;
}

.subscribe-overlay button {
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 37px;

	display: inline-block;

	height: 52px;
	margin: 0 0 0 15px;
	padding: 0 25px;

	text-align: center;

	color: #FFFFFF;
	border-radius: 8px;
	outline: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#4FB7F0), color-stop(60%, #29A0E0), color-stop(90%, #29A0E0), to(#36A6E2));
	background: linear-gradient(#4FB7F0, #29A0E0 60%, #29A0E0 90%, #36A6E2);
	-webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .14);
	        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .14);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);

	-webkit-font-smoothing: subpixel-antialiased;
}

.subscribe-overlay button:active,
.subscribe-overlay button:focus {
	background: #209CDF;
}

.subscribe-overlay-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: block;
}

.subscribe-overlay-close:before {
	-webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.subscribe-overlay-close:after,
.subscribe-overlay-close:before {
	position: absolute;
	top: 40px;
	right: 25px;

	display: block;

	width: 30px;
	height: 2px;

	content: "";

	opacity: .8;
	background: #FFFFFF;;
}

.subscribe-overlay-close:after {
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
}

.subscribe-overlay-close:hover {
	cursor: default;
}

.site-footer {
	position: relative;

	padding-top: 20px;
	padding-bottom: 60px;

	color: #FFFFFF;
	background: #000000;
}

.site-footer-content {
	font-size: 1.3rem;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	align-items: center;
	-webkit-box-align: center;
	-webkit-box-pack: justify;
	-ms-flex-align: center;
	-ms-flex-pack: justify;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	justify-content: space-between;;
}

.site-footer-content,
.site-footer-content a {
	color: hsla(0, 0%, 100%, .7);
}

.site-footer-content a:hover {
	text-decoration: none;

	color: #FFFFFF;;
}

.site-footer-nav {
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
}

.site-footer-nav a {
	position: relative;

	margin-left: 20px;
}

.site-footer-nav a:before {
	position: absolute;
	top: 11px;
	left: -11px;

	display: block;

	width: 2px;
	height: 2px;

	content: "";

	border-radius: 100%;
	background: #FFFFFF;;
}

.site-footer-nav a:first-of-type:before {
	display: none;
}

@media (max-width:650px) {
	.site-footer-content {
		    flex-direction: column;

		-webkit-box-direction: normal;
		-webkit-box-orient: vertical;
		-ms-flex-direction: column;;
	}
	.site-footer-nav a:first-child {
		margin-left: 0;
	}
}

body,
.post-card-excerpt,
.post-full-content {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

	text-align: justify;
	word-break: break-all;
}

@media (max-width: 800px) {
	.floating-header-divider,
	.floating-header-title {
		visibility: inherit!important;
	}
	.floating-header-logo {
		margin-left: 10px;
		padding-right: 5px;
	}
	.floating-header-divider {
		margin-left: 0px;
	}
}

.site-footer-nav {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	justify-content: center;
}

.pagination {
	font-size: 1.3rem;

	position: relative;

	width: 80%;
	max-width: 710px;
	margin: 6rem auto;
	margin-bottom: 2rem;

	text-align: center;

	color: #68757D;
}

.pagination a {
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;

	color: #68757D;
}

.page-nav {
	overflow: hidden;

	min-width: 100px;

	text-align: center;

	color: #999999;
	border-radius: 4px;
	background: #FFFFFF;
}

.page-nav .current {
	font-weight: bold;

	color: #555555;
}

.page-nav> .page-number,
.prev-next-post {
	display: inline-block;

	min-width: 100px;
	padding: 8px 0;
}

.page-nav> .prev,
.page-nav> .next,
.prev-post,
.next-post {
	position: absolute;

	display: inline-block;

	padding: 8px 16px;

	-webkit-transition: border .3s ease;
	        transition: border .3s ease;
	text-decoration: none;

	border: #BFC8CD 1px solid;
	border-radius: 4px;
}

.page-nav> .prev,
.prev-post {
	left: 0;
}

.page-nav> .next,
.next-post {
	right: 0;
}

.page-nav> .prev:hover,
.page-nav> .next:hover,
.prev-post,
.next-post {
	color: #889093;
	border-color: #98A0A4;
}

@media (max-width: 800px) {
	.page-nav> .prev,
	.page-nav> .next,
	.prev-post,
	.next-post,
	.prev-next-post {
		position: static;

		width: 100%;
	}
	.page-nav> .page-number {
		width: 33.3%;
	}
	.pagination {
		width: 100%;
		margin: 40px 0 20px;
	}
	.t-g-control {
		top: unset!important;
		right: unset!important;
		bottom: 0!important;

		    flex-direction: row!important;

		width: 100%;

		-webkit-box-direction: normal!important;
		-webkit-box-orient: horizontal!important;
		-webkit-box-pack: center;
		-ms-flex-direction: row!important;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.toc-main {
		width: 100%;
	}
}

@media (min-width: 1170px) {
	#comment {
		padding: 20px 100px 0;
	}
}

.v .vinput,
.v .vbtn,
.v .vwrap .vcontrol .col,
.v .vlist .vcard .vhead .vname,
.v .vlist .vcard .vcontent {
	font-size: unset!important;
}

.v .vbtn,
.v .vwrap .vcontrol .col,
.v .vlist .vcard .vcontent a {
	font-size: 1.3rem!important;
}

.v .vinfo .col,
.v .vinfo .vcount .vnum {
	font-size: 1.5rem!important;
}

.v .vlist .vcard section .vfooter .vtime,
.v .vlist .vcard section .vfooter .vat {
	font-size: 1.2rem!important;
}

.read-next-card-content-ext {
	font-size: 1.7rem;

	position: relative;
	z-index: 50;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.read-next-card-content-ext a {
	padding: 10px;

	color: #FFFFFF;
}

.t-g-control {
	position: fixed;
	z-index: 666;
	top: 40%;
	right: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
}

.gotop,
.gobottom,
.toc-control {
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
	padding: 4px;

	border-radius: 4px;
	background: #F6F8FA;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.gotop:hover,
.gobottom:hover,
.toc-control:hover {
	background: #F0F4F7;
}


.toc-main {
	position: fixed;
	z-index: 665;
	top: 0;
	right: 0;

	height: 100%;
}

.post-toc> ol,
.post-toc> ul,
.post-toc> li,
.toc-child {
	list-style: none;
}

.post-toc {
	position: relative;
	top: 0px;

	overflow: scroll;

	min-width: 300px;
	height: 100%;
	padding: 100px 40px;

	border-left: 1px solid rgba(0, 0, 0, .06);
	background: hsla(0, 0%, 100%, .95);
}

.toc {
	padding-bottom: 10px;
}

.markdown-body {
	font-size: .9em;
	line-height: 1.5;

	word-wrap: break-word;
}

.markdown-body::before {
	display: table;

	content: "";
}

.markdown-body::after {
	display: table;
	clear: both;

	content: "";
}

.markdown-body> *:first-child {
	margin-top: 0 !important;
}

.markdown-body> *:last-child {
	margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
	text-decoration: none;

	color: inherit;;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
	margin-top: 0;
	margin-bottom: 16px;
}

.markdown-body hr {
	height: .25em;
	margin: 24px 0;
	padding: 0;

	border: 0;
	background-color: #E1E4E8;;
}

.markdown-body blockquote {
	padding: 0 1em;

	color: #6A737D;
	border-left: .25em solid #DFE2E5;
}

.markdown-body blockquote> :first-child {
	margin-top: 0;
}

.markdown-body blockquote> :last-child {
	margin-bottom: 0;
}

.markdown-body kbd {
	font-size: 11px;
	line-height: 10px;

	display: inline-block;

	padding: 3px 5px;

	vertical-align: middle;

	color: #444D56;
	border: solid 1px #C6CBD1;
	border-bottom-color: #959DA5;
	border-radius: 3px;
	background-color: #FAFBFC;
	-webkit-box-shadow: inset 0 -1px 0 #959DA5;
	        box-shadow: inset 0 -1px 0 #959DA5;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-weight: 600;
	line-height: 1.25;

	margin-top: 24px;
	margin-bottom: 16px;

	color: #090A0B;;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
	font-size: inherit;
}

.markdown-body h1 {
	font-size: 1.8em;

	padding-bottom: .3em;

	border-bottom: 1px solid #EAECEF;
}

.markdown-body h2 {
	font-size: 1.3em;

	padding-bottom: .3em;

	border-bottom: 1px solid #EAECEF;
}

.markdown-body h3 {
	font-size: 1.15em;
}

.markdown-body h4 {
	font-size: .95em;
}

.markdown-body h5 {
	font-size: .85em;
}

.markdown-body h6 {
	font-size: .825em;

	color: #6A737D;
}

.markdown-body ul,
.markdown-body ol {
	padding-left: 2em;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
	padding: 0;

	list-style-type: none;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.markdown-body li {
	word-wrap: break-all;
}

.markdown-body li> p {
	margin-top: 16px;
}

.markdown-body li+ li {
	margin-top: .25em;
}

.markdown-body dl {
	padding: 0;
}

.markdown-body dl dt {
	font-size: 1em;
	font-weight: 600;
	font-style: italic;

	margin-top: 16px;
	padding: 0;;
}

.markdown-body dl dd {
	margin-bottom: 16px;
	padding: 0 16px;;
}

.markdown-body table,
.markdown-body figure {
	display: block;
	overflow: auto;

	width: 100%;;
}

.markdown-body table th {
	font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
	padding: 6px 13px;

	border: 1px solid #DFE2E5;
}

.markdown-body table tr {
	border-top: 1px solid #C6CBD1;
	background-color: #FFFFFF;;
}

.markdown-body table tr:nth-child(2n) {
	background-color: #F6F8FA;
}

.markdown-body table img {
	background-color: transparent;
}

.markdown-body img {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	max-width: 100%;

	background-color: #FFFFFF;
}

.markdown-body img[align=right] {
	padding-left: 20px;
}

.markdown-body img[align=left] {
	padding-right: 20px;
}

.markdown-body .emoji {
	max-width: none;

	vertical-align: text-top;

	background-color: transparent;
}

.markdown-body span.frame {
	display: block;
	overflow: hidden;
}

.markdown-body span.frame> span {
	display: block;
	float: left;
	overflow: hidden;

	width: auto;
	margin: 13px 0 0;
	padding: 7px;

	border: 1px solid #DFE2E5;
}

.markdown-body span.frame span img {
	display: block;
	float: left;
}

.markdown-body span.frame span span {
	display: block;
	clear: both;

	padding: 5px 0 0;

	color: #24292E;
}

.markdown-body span.align-center {
	display: block;
	clear: both;
	overflow: hidden;;
}

.markdown-body span.align-center> span {
	display: block;
	overflow: hidden;

	margin: 13px auto 0;

	text-align: center;
}

.markdown-body span.align-center span img {
	margin: 0 auto;

	text-align: center;
}

.markdown-body span.align-right {
	display: block;
	clear: both;
	overflow: hidden;;
}

.markdown-body span.align-right> span {
	display: block;
	overflow: hidden;

	margin: 13px 0 0;

	text-align: right;
}

.markdown-body span.align-right span img {
	margin: 0;

	text-align: right;
}

.markdown-body span.float-left {
	display: block;
	float: left;
	overflow: hidden;

	margin-right: 13px;;
}

.markdown-body span.float-left span {
	margin: 13px 0 0;
}

.markdown-body span.float-right {
	display: block;
	float: right;
	overflow: hidden;

	margin-left: 13px;;
}

.markdown-body span.float-right> span {
	display: block;
	overflow: hidden;

	margin: 13px auto 0;

	text-align: right;
}

.markdown-body code,
.markdown-body tt {
	font-size: 85%;

	margin: 0;
	padding: .2em .4em;

	border-radius: 3px;
	background-color: rgba(27, 31, 35, .05);;
}

.markdown-body code br,
.markdown-body tt br {
	display: none;
}

.markdown-body del code {
	text-decoration: inherit;
}

.markdown-body pre {
	word-wrap: normal;
}

.markdown-body pre> code {
	font-size: 100%;

	margin: 0;
	padding: 0;

	white-space: pre;
	word-break: normal;

	border: 0;
	background: transparent;;
}

.markdown-body .highlight {
	margin-bottom: 16px;
}

.markdown-body .highlight tbody {
	display: block;
}

.markdown-body .highlight tr,
.markdown-body .highlight td {
	display: block;
	overflow: auto;

	width: 100%;
	padding: 0;

	border: none;;
}

.markdown-body .highlight pre {
	margin-bottom: 0;

	word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
	font-size: 85%;
	line-height: 1.45;

	overflow: auto;

	padding: 16px;

	border-radius: 3px;
	background-color: #F6F8FA;;
}

.markdown-body pre code,
.markdown-body pre tt {
	line-height: inherit;

	display: inline;
	overflow: visible;

	max-width: auto;
	margin: 0;
	padding: 0;

	word-wrap: normal;

	border: 0;
	background-color: transparent;;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
	font-size: 12px;
	line-height: 1;

	overflow: hidden;

	padding: 5px;

	text-align: left;
	white-space: nowrap;
}

.markdown-body .csv-data .blob-num {
	padding: 10px 8px 9px;

	text-align: right;

	border: 0;
	background: #FFFFFF;;
}

.markdown-body .csv-data tr {
	border-top: 0;
}

.markdown-body .csv-data th {
	font-weight: 600;

	border-top: 0;
	background: #F6F8FA;;
}

.hljs {
	display: block;
	overflow-x: auto;

	padding: .5em;

	color: #383A42;
	background: #FAFAFA;
}

.hljs-comment,
.hljs-quote {
	font-style: italic;

	color: #A0A1A7;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
	color: #A626A4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	color: #E45649;
}

.hljs-literal {
	color: #0184BB;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
	color: #50A14F;
}

.hljs-built_in,
.hljs-class .hljs-title {
	color: #C18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	color: #4078F2;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-link {
	text-decoration: underline;
}

/*del 
.post-full-content pre code * {
    color: inherit
}
*/
