body,
.post-card-excerpt,
.post-full-content {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

	text-align: justify;
	word-break: break-all;
}

@media (max-width: 800px) {
	.floating-header-divider,
	.floating-header-title {
		visibility: inherit!important;
	}
	.floating-header-logo {
		padding-right: 5px;
		margin-left: 10px;
	}
	.floating-header-divider {
		margin-left: 0px;
	}
}

.site-footer-nav {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	justify-content: center;
}

.pagination {
	font-size: 1.3rem;

	position: relative;

	width: 80%;
	max-width: 710px;
	margin: 6rem auto;
	margin-bottom: 2rem;

	text-align: center;

	color: #68757D;
}

.pagination a {
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;

	color: #68757D;
}

.page-nav {
	overflow: hidden;

	min-width: 100px;

	text-align: center;

	color: #999999;
	border-radius: 4px;
	background: #FFFFFF;
}

.page-nav .current {
	font-weight: bold;

	color: #555555;
}

.page-nav> .page-number,
.prev-next-post {
	display: inline-block;

	min-width: 100px;
	padding: 8px 0;
}

.page-nav> .prev,
.page-nav> .next,
.prev-post,
.next-post {
	position: absolute;

	display: inline-block;

	padding: 8px 16px;

	-webkit-transition: border .3s ease;
	        transition: border .3s ease;
	text-decoration: none;

	border: #BFC8CD 1px solid;
	border-radius: 4px;
}

.page-nav> .prev,
.prev-post {
	left: 0;
}

.page-nav> .next,
.next-post {
	right: 0;
}

.page-nav> .prev:hover,
.page-nav> .next:hover,
.prev-post,
.next-post {
	color: #889093;
	border-color: #98A0A4;
}

@media (max-width: 800px) {
	.page-nav> .prev,
	.page-nav> .next,
	.prev-post,
	.next-post,
	.prev-next-post {
		position: static;

		width: 100%;
	}
	.page-nav> .page-number {
		width: 33.3%;
	}
	.pagination {
		width: 100%;
		margin: 40px 0 20px;
	}
	.t-g-control {
		top: unset!important;
		right: unset!important;
		bottom: 0!important;

		    flex-direction: row!important;

		width: 100%;

		-webkit-box-direction: normal!important;
		-webkit-box-orient: horizontal!important;
		-webkit-box-pack: center;
		-ms-flex-direction: row!important;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.toc-main {
		width: 100%;
	}
}

@media (min-width: 1170px) {
	#comment {
		padding: 20px 100px 0;
	}
}

.v .vinput,
.v .vbtn,
.v .vwrap .vcontrol .col,
.v .vlist .vcard .vhead .vname,
.v .vlist .vcard .vcontent {
	font-size: unset!important;
}

.v .vbtn,
.v .vwrap .vcontrol .col,
.v .vlist .vcard .vcontent a {
	font-size: 1.3rem!important;
}

.v .vinfo .col,
.v .vinfo .vcount .vnum {
	font-size: 1.5rem!important;
}

.v .vlist .vcard section .vfooter .vtime,
.v .vlist .vcard section .vfooter .vat {
	font-size: 1.2rem!important;
}

.read-next-card-content-ext {
	font-size: 1.7rem;

	position: relative;
	z-index: 50;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.read-next-card-content-ext a {
	padding: 10px;

	color: #FFFFFF;
}

.t-g-control {
	position: fixed;
	z-index: 666;
	top: 40%;
	right: 0px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    flex-direction: column;

	-webkit-box-direction: normal;
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
}

.gotop,
.gobottom,
.toc-control {
	width: 40px;
	height: 40px;
	margin: 0 10px 10px 0;
	padding: 4px;

	border-radius: 4px;
	background: #F6F8FA;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.gotop:hover,
.gobottom:hover,
.toc-control:hover {
	background: #F0F4F7;
}


.toc-main {
	position: fixed;
	z-index: 665;
	top: 0;
	right: 0;

	height: 100%;
}

.post-toc> ol,
.post-toc> ul,
.post-toc> li,
.toc-child {
	list-style: none;
}

.post-toc {
	position: relative;
	top: 0px;

	overflow: scroll;

	min-width: 300px;
	height: 100%;
	padding: 100px 40px;

	border-left: 1px solid rgba(0, 0, 0, .06);
	background: hsla(0, 0%, 100%, .95);
}

.toc {
	padding-bottom: 10px;
}

.markdown-body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: .9em;
	line-height: 1.5;

	word-wrap: break-word;
}

.markdown-body::before {
	display: table;

	content: "";
}

.markdown-body::after {
	display: table;
	clear: both;

	content: "";
}

.markdown-body> *:first-child {
	margin-top: 0 !important;
}

.markdown-body> *:last-child {
	margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
	text-decoration: none;;

	color: inherit;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
	margin-top: 0;
	margin-bottom: 16px;
}

.markdown-body hr {
	height: .25em;
	margin: 24px 0;
	padding: 0;

	border: 0;;
	background-color: #E1E4E8;
}

.markdown-body blockquote {
	padding: 0 1em;

	color: #6A737D;
	border-left: .25em solid #DFE2E5;
}

.markdown-body blockquote> :first-child {
	margin-top: 0;
}

.markdown-body blockquote> :last-child {
	margin-bottom: 0;
}

.markdown-body kbd {
	font-size: 11px;
	line-height: 10px;

	display: inline-block;

	padding: 3px 5px;

	vertical-align: middle;

	color: #444D56;
	border: solid 1px #C6CBD1;
	border-bottom-color: #959DA5;
	border-radius: 3px;
	background-color: #FAFBFC;
	-webkit-box-shadow: inset 0 -1px 0 #959DA5;
	        box-shadow: inset 0 -1px 0 #959DA5;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
	font-weight: 600;
	line-height: 1.25;;

	margin-top: 24px;
	margin-bottom: 16px;

	color: #090A0B;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
	font-size: inherit;
}

.markdown-body h1 {
	font-size: 1.8em;

	padding-bottom: .3em;

	border-bottom: 1px solid #EAECEF;
}

.markdown-body h2 {
	font-size: 1.3em;

	padding-bottom: .3em;

	border-bottom: 1px solid #EAECEF;
}

.markdown-body h3 {
	font-size: 1.15em;
}

.markdown-body h4 {
	font-size: .95em;
}

.markdown-body h5 {
	font-size: .85em;
}

.markdown-body h6 {
	font-size: .825em;

	color: #6A737D;
}

.markdown-body ul,
.markdown-body ol {
	padding-left: 2em;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
	padding: 0;

	list-style-type: none;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

.markdown-body li {
	word-wrap: break-all;
}

.markdown-body li> p {
	margin-top: 16px;
}

.markdown-body li+ li {
	margin-top: .25em;
}

.markdown-body dl {
	padding: 0;
}

.markdown-body dl dt {
	font-size: 1em;
	font-weight: 600;;
	font-style: italic;

	margin-top: 16px;
	padding: 0;
}

.markdown-body dl dd {
	margin-bottom: 16px;;
	padding: 0 16px;
}

.markdown-body table,
.markdown-body figure {
	display: block;
	overflow: auto;;

	width: 100%;
}

.markdown-body table th {
	font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
	padding: 6px 13px;

	border: 1px solid #DFE2E5;
}

.markdown-body table tr {
	border-top: 1px solid #C6CBD1;;
	background-color: #FFFFFF;
}

.markdown-body table tr:nth-child(2n) {
	background-color: #F6F8FA;
}

.markdown-body table img {
	background-color: transparent;
}

.markdown-body img {
	-webkit-box-sizing: content-box;
	        box-sizing: content-box;
	max-width: 100%;

	background-color: #FFFFFF;
}

.markdown-body img[align=right] {
	padding-left: 20px;
}

.markdown-body img[align=left] {
	padding-right: 20px;
}

.markdown-body .emoji {
	max-width: none;

	vertical-align: text-top;

	background-color: transparent;
}

.markdown-body span.frame {
	display: block;
	overflow: hidden;
}

.markdown-body span.frame> span {
	display: block;
	float: left;
	overflow: hidden;

	width: auto;
	margin: 13px 0 0;
	padding: 7px;

	border: 1px solid #DFE2E5;
}

.markdown-body span.frame span img {
	display: block;
	float: left;
}

.markdown-body span.frame span span {
	display: block;
	clear: both;

	padding: 5px 0 0;

	color: #24292E;
}

.markdown-body span.align-center {
	display: block;
	clear: both;;
	overflow: hidden;
}

.markdown-body span.align-center> span {
	display: block;
	overflow: hidden;

	margin: 13px auto 0;

	text-align: center;
}

.markdown-body span.align-center span img {
	margin: 0 auto;

	text-align: center;
}

.markdown-body span.align-right {
	display: block;
	clear: both;;
	overflow: hidden;
}

.markdown-body span.align-right> span {
	display: block;
	overflow: hidden;

	margin: 13px 0 0;

	text-align: right;
}

.markdown-body span.align-right span img {
	margin: 0;

	text-align: right;
}

.markdown-body span.float-left {
	display: block;
	float: left;
	overflow: hidden;;

	margin-right: 13px;
}

.markdown-body span.float-left span {
	margin: 13px 0 0;
}

.markdown-body span.float-right {
	display: block;
	float: right;
	overflow: hidden;;

	margin-left: 13px;
}

.markdown-body span.float-right> span {
	display: block;
	overflow: hidden;

	margin: 13px auto 0;

	text-align: right;
}

.markdown-body code,
.markdown-body tt {
	font-size: 85%;

	margin: 0;
	padding: .2em .4em;

	border-radius: 3px;;
	background-color: rgba(27, 31, 35, .05);
}

.markdown-body code br,
.markdown-body tt br {
	display: none;
}

.markdown-body del code {
	text-decoration: inherit;
}

.markdown-body pre {
	word-wrap: normal;
}

.markdown-body pre> code {
	font-size: 100%;

	margin: 0;
	padding: 0;

	white-space: pre;
	word-break: normal;

	border: 0;;
	background: transparent;
}

.markdown-body .highlight {
	margin-bottom: 16px;
}

.markdown-body .highlight tbody {
	display: block;
}

.markdown-body .highlight tr,
.markdown-body .highlight td {
	display: block;
	overflow: auto;;

	width: 100%;
	padding: 0;

	border: none;
}

.markdown-body .highlight pre {
	margin-bottom: 0;

	word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
	font-size: 85%;
	line-height: 1.45;

	overflow: auto;

	padding: 16px;

	border-radius: 3px;;
	background-color: #F6F8FA;
}

.markdown-body pre code,
.markdown-body pre tt {
	line-height: inherit;

	display: inline;
	overflow: visible;

	max-width: auto;
	margin: 0;
	padding: 0;

	word-wrap: normal;

	border: 0;;
	background-color: transparent;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
	font-size: 12px;
	line-height: 1;

	overflow: hidden;

	padding: 5px;

	text-align: left;
	white-space: nowrap;
}

.markdown-body .csv-data .blob-num {
	padding: 10px 8px 9px;

	text-align: right;

	border: 0;;
	background: #FFFFFF;
}

.markdown-body .csv-data tr {
	border-top: 0;
}

.markdown-body .csv-data th {
	font-weight: 600;

	border-top: 0;;
	background: #F6F8FA;
}

.hljs {
	display: block;
	overflow-x: auto;

	padding: .5em;

	color: #383A42;
	background: #FAFAFA;
}

.hljs-comment,
.hljs-quote {
	font-style: italic;

	color: #A0A1A7;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
	color: #A626A4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
	color: #E45649;
}

.hljs-literal {
	color: #0184BB;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
	color: #50A14F;
}

.hljs-built_in,
.hljs-class .hljs-title {
	color: #C18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
	color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
	color: #4078F2;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-link {
	text-decoration: underline;
}

/*del 
.post-full-content pre code * {
    color: inherit
}
*/
