/*
* @Author: xzhih
* @Date:   2018-12-02 20:47:05
* @Last Modified by:   xzhih
* @Last Modified time: 2019-04-18 16:58:20
*/

.highlight {
	overflow-x: auto;
	overflow-y: hidden;
	background-color: var(--color-1);
	padding: 0.4em 0 0;
	line-height: 1.1em;
	border-radius: 2px;
	position: relative;
}
.highlight table,
.highlight tr,
.highlight td {
	width: 100%;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
}
.highlight .gutter {
	width: 1.5em;
}
.highlight .code pre {
	padding: 1.2em 1.4em;
	/*line-height: 1.5em;*/
	margin: 0;
}
.highlight .code .line {
	min-height: 1.5em;
}
.highlight.html .code:before,
.highlight.js .code:before,
.highlight.bash .code:before,
.highlight.css .code:before {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px 10px 0;
	color: #ccc;
	text-align: right;
	font-size: 1.4rem;
	line-height: 15px;
	height: 15px;
	font-weight: 600;
}
.highlight.html .code:before {
	content: "HTML";
}
.highlight.js .code:before {
	content: "JS";
}
.highlight.bash .code:before {
	content: "Shell";
}
.highlight.css .code:before {
	content: "CSS";
}

.gutter pre {
	color: #999;
	margin-bottom: 0;
	padding: 1.2em 0 1.2em 1.4em;
	font-size: .9em
}

pre {
	margin-bottom: 1.2em;
	color: var(--pre-color);
	line-height: 1.45;
	overflow: auto;
}
pre .function .keyword,
pre .constant {
	color: #0092db;
}
pre .keyword,
pre .attribute {
	color: #e96900;
}
pre .number,
pre .literal {
	color: #ae81ff;
}
pre .tag,
pre .tag .title,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
	color: #2973b7;
}
pre .class .title {
	color: #fff;
}
pre .symbol,
pre .symbol .string,
pre .value,
pre .regexp {
	color: #42b983;
}
pre .title {
	color: #a6e22e;
}
pre .tag .value,
pre .string,
pre .subst,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
	color: #42b983;
}
pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
	color: #b3b3b3;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
	opacity: 0.5;
}