body,
.post-card-excerpt,
.post-full-content {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.post-card-excerpt {
	text-align: justify;
	word-break: break-all;
}
img {
	image-rendering: -webkit-optimize-contrast;
}

.hide {
	display: none;
}

@media (max-width: 500px){
	.post-card-title {
		font-size: 18px!important;
	}
}
.post-card-title {
	margin: 0 0 .5em;
	font-size: 2rem;	
}
.post-img {
	width: 100%;
	min-height: 50px;
	background: #C5D2D9 no-repeat 50%!important;
	background-size: cover;
	border-radius: 4px;
}

.b-lazy {
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
	opacity: .5;
}

.b-lazy.b-loaded {
	opacity: 1;
}

@media (max-width: 800px) {
	.floating-header-divider,
	.floating-header-title {
		visibility: inherit!important;
	}
	.floating-header-logo {
		margin-left: 10px;
		padding-right: 5px;
	}
	.floating-header-divider {
		margin-left: 0px;
	}
}

.search-button {
	margin: 0 10px;
}

@media (min-width: 701px) {
	.search-button {
		display: none;
	}
	#local-search-result {
		width: 80%!important;
		padding: 2rem 1rem!important;
		margin: 6rem 0 1rem!important;
		border-radius: 4px;
	}
}

.search-form {
	height: 5rem;
	text-align: center;
	position: fixed;
	top: 0;
	width: 100%;
	background: hsla(0,0%,100%,.95)
}

.search-overlay {
	-webkit-box-align: unset!important;
	-ms-flex-align: unset!important;
	align-items: unset!important;
}

.search-overlay-logo {
	position: absolute;
	left: 0;
	top: 0;
	height: 5rem;
	padding: 1.25rem 2rem
}

.search-input {
	background: rgba(0,0,0,0.04);
	border: none;
	border-radius: 4px;
	height: 3.5rem;
	margin: .75rem;
	padding: 0 2rem;
	width: 600px;
	max-width: 40%;
}

.search-overlay-close {
	position: absolute;
	right: 0;
	top: 0;
	height: 5rem;
	width: 5rem;
}

.search-overlay-close:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.search-overlay-close:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.search-overlay-close:before,
.search-overlay-close:after {
	position: absolute;
	top: 2.4rem;
	right: 1.8rem;
	width: 2rem;
	height: 2px;

	content: "";
	background: rgba(0, 25, 40, .97);
}


#local-search-result {
	padding-top: 1rem;
	margin: 5rem 0 0;
	background: rgba(255, 255, 255, .95);
	width: 100%;
	overflow: auto;
	border-top: 1px solid rgba(0,0,0,0.05);
}

#local-search-result ul li {
	list-style: none;
	padding-top: .8em
}

.search-result-title {
	font-size: 1.8rem;
}

.search-keyword {
	color: red
}

.site-footer-nav {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
}

.pagination {
	font-size: 1.3rem;

	position: relative;

	width: 80%;
	max-width: 710px;
	margin: 2rem auto;

	text-align: center;

	color: #68757D;
}

.pagination a {
	-webkit-transition: all .2s ease;
	transition: all .2s ease;

	color: #68757D;
}

.page-nav {
	overflow: hidden;

	min-width: 100px;

	text-align: center;

	color: #999999;
	border-radius: 4px;
	background: #FFFFFF;
}

.page-nav .current {
	font-weight: bold;

	color: #555555;
}

.page-nav> .page-number,
.prev-next-post {
	display: inline-block;

	min-width: 100px;
	padding: 8px 0;
}

.page-nav> .prev,
.page-nav> .next,
.prev-post,
.next-post {
	position: absolute;

	display: inline-block;

	padding: 8px 16px;

	-webkit-transition: border .3s ease;
	transition: border .3s ease;
	text-decoration: none;

	border: #BFC8CD 1px solid;
	border-radius: 4px;
}

.page-nav> .prev,
.prev-post {
	left: 0;
}

.page-nav> .next,
.next-post {
	right: 0;
}

.page-nav> .prev:hover,
.page-nav> .next:hover,
.prev-post,
.next-post {
	color: #889093;
	border-color: #98A0A4;
}

@media (max-width: 800px) {
	.page-nav> .prev,
	.page-nav> .next,
	.prev-post,
	.next-post,
	.prev-next-post {
		position: static;

		width: 100%;
	}
	.page-nav> .page-number {
		width: 33.3%;
	}
	.pagination {
		width: 100%;
	}
	.t-g-control {
		top: unset!important;
		right: unset!important;
		bottom: 0!important;

		flex-direction: row!important;

		width: 100%;

		-webkit-box-direction: normal!important;
		-webkit-box-orient: horizontal!important;
		-webkit-box-pack: center;
		-ms-flex-direction: row!important;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.toc-main {
		width: 100%;
	}
}

@media (min-width: 1170px) {
	#comment {
		padding: 20px 100px 0;
	}
}

.v * {
	font-size: 14px!important
}

.read-next-card-content-ext {
	font-size: 1.7rem;

	position: relative;
	z-index: 50;

	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;

	-webkit-box-flex: 1;
	flex-grow: 1;
	-ms-flex-positive: 1;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.read-next-card-content-ext a {
	padding: 10px;

	color: #FFFFFF;
}

.toc-bar {
	top: 0;
	z-index: 666;
	position: fixed;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.toc-btn-bar svg {
	width: 32px;
	height: 32px;
	fill: #8a8a8a	
}

.toc-btn {
	z-index: 666;
	cursor: pointer;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	display: block;
	padding: 4px;
	border-radius: 4px;
	background: #f6f8fa;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}


.toc-btn:hover {
	background: #f0f4f7;
}

.toc-main {
	background: hsla(0,0%,100%,.95);
	height: 100%;
	padding: 100px 40px;
	border-left: 1px solid rgba(0,0,0,.06);
	overflow-y: scroll;
}

.toc-main ol,
.toc-main ul,
.toc-main li {
	list-style: none;
}

.toc {
	margin: 0 ;
	padding: 0
}

@media only screen and (max-width: 767px) {
	.toc-bar {
		width: 100%;
		top: 100%;
	}
	.toc-btn-bar {
		width: 100%;
		text-align: center;
		position: fixed;
		bottom: 0;
		z-index: 666;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		flex-direction: row;
		-webkit-box-direction: normal;
		-webkit-box-orient: horizontal;
		-webkit-box-pack: center;
		-ms-flex-direction: row;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.toc-btn {
		margin: 0 5px 10px
	}
}

@media only screen and (min-width: 768px) {
	.toc-bar {
		right: -100%;
	}

	.toc-btn:nth-child(2) {
		margin: 10px;
		margin-left: 0
	}
}